
  <img class ="img-margin" src="../assets/img/the-old-guard.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/guard.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/black-widow.jpeg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/extraction.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/Force-of-Nature.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/human-capital.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/jungle-cruise.jpeg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/no-time-to-die.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/sonic.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/tenet.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/vivarium.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/6underground.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/birds.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/badboys.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/secretgarden.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/dolittle.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/bombshell.jpg" width="100" height="148,2">

  <img class ="img-margin" src="../assets/img/jumanji.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/doctorsleep.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/freeguy.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/froozen2.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/knivesout.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/fordvsferrari.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/jojorabbit.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/countdown.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/terminator.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/joker.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/charlie.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/gemini.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/avangers.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/simba.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/zombieland.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/pointblank.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/greta.jpg" width="100" height="148,2">

  <img class ="img-margin" src="../assets/img/spiderman.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/abo.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/toystory4.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/once.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/aladdin.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/wonder.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/hustle.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/petsemetary.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/dumbo.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/captainmarvel.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/alita.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/spidermann.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/mib.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/birdbox.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/aquaman.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/it.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/vice.jpg" width="100" height="148,2">

  <img class ="img-margin" src="../assets/img/creed2.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/venom.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/secondact.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/elroyal.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/nun.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/extinction.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/glass.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/meg.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/tau.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/grinch.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/andwaspe.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/jurassicworld.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/chrisrobin.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/fallout.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/rapsody.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/anon.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/gringo.jpeg" width="100" height="148,2">

  <img class ="img-margin" src="../assets/img/infwar.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/red.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/dog.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/oceans89.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/gamenight.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/incredible.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/mazerunner.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/jum.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/starwars.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/geostorm.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/thor.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/golem.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/justice.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/waar.jpeg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/jurassic.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/dunkirn.jpg" width="100" height="148,2">
  <img class ="img-margin" src="../assets/img/ww.jpg" width="100" height="148,2">






