<div class="margin-top margin-bottom container">

  <h2 class="align-center">Customer</h2>

  <form [formGroup]="customerForm" (ngSubmit)="OnSubmit()">

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="Harry">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Potter">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" formControlName="gender" id="gender" name="gender">
        <option value="" selected disabled hidden>Witch or Wizard?</option>
        <option value="0" selected>Male</option>
        <option value="1">Female</option>
      </select>
    </div>

    <div class="form-group">
      <label for="birthDate">Birth date</label>
      <input type="date" class="form-control" formControlName="birthDate" id="birthDate" placeholder="birthDate">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" formControlName="address" id="address"
        placeholder="Hogwarts School of Witchcraft and Wizardry, Scotland IV14 9">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" formControlName="age" id="age" placeholder="Your real age, don't cheat">
    </div>

    <div class="form-group align-center ">
      <button type="submit" class="btn allButton btn-width">{{buttonSave}}</button>
    </div>

  </form>
</div>

<div class="container">
  <table class="table">
    <thead>
      <th>CustomerId</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Birth Date</th>
      <th>Address</th>
      <th>Age</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let ctmr of customerList;">
        <td>{{ctmr.customerId}}</td>
        <td>{{ctmr.firstName}}</td>
        <td>{{ctmr.lastName}}</td>
        <td [ngSwitch]="ctmr.gender">
          <p *ngSwitchCase="0">
            Male
          </p>
          <p *ngSwitchCase="1">
            Female
          </p>
        </td>
        <td>{{ctmr.birthDate}}</td>
        <td>{{ctmr.address}}</td>
        <td>{{ctmr.age}}</td>
        <td><button class="btn allButton" (click)="Edit(ctmr.customerId)">Edit</button></td>
        <td><button class="btn allButton" (click)="Delete(ctmr.customerId)">Delete</button></td>

      </tr>
    </tbody>
  </table>
</div>
